header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: lightblue;
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
}

.left span {
	color: MediumAquamarine;
}

.left {
    height: 100%;
    width: 70%;
    min-width: 50px;
    display: flex;
    background-color: red;
    align-items: center;
}

nav span {
    padding-left: 20px;   
    color: black;
}

.content {
	width: auto;
	display: flex;
    border: 2px solid black;
}

.large {
	display: flex;
	flex-direction: column;
	width: 630px;
	border: 2px solid black;
    background-color: cyan;
    margin-right: 32px;
}

.medium {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: cyan;
	margin-right: 32px;
}

.small {
	display: flex;
	flex-direction: column;
	width: 240px;
	border: 2px solid black;
}

.largecol-row {
	width: 100%;
    border: 1px solid black;
}

.largecol-div {
	width: auto;
	border: 3px solid black;
}

.large .mother {
	background-image: url("../images/img-story-main.png");
	height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;

}

.earth {
    background-image: url("../images/img-story-2.png");
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.cameras {
    background-image: url("../images/img-story-3.png");
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.cats {
    background-image: url("../images/img-story-1.png");
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}